{{ session.set }}
    {% if session.set == 0 %}
      {% include '1navbar.html' %}
    {% elif session.set == 1 %}
      {% include '1con_navbar.html' %}
    {% elif session.set == 2 %}
      {% include '1req_navbar.html' %}
    {% endif %}

    session={}
	if not request.session.get('user_id'):
		request.session['user_id']=0
	session['set']=request.session['user_id']
	diction['result'] = "false"
	return render_to_response("1search.html", {'diction':diction, 'session':session})

##########################################################
