<html>
  <head>
    <link rel="stylesheet" href="/static/css/mycss.css">
  </head>
  <body>    
    <footer class="z-depth">
      <img src="\static\img\imagemapping.png" width="200" height="75" alt="social_network" usemap="#map">
      <map name="map">
        <area shape="rect" coords="10,10,55,55" href="google.com" alt="google">
        <area shape="rect" coords="60,10,105,105" href="twitter.com" alt="twitter">
        <area shape="rect" coords="110,10,160,160" href="facebook.com" alt="facebook">
        <area shape="rect" coords="160,10,200,200" href="linkedin.com" alt="linkedin">
      </map>
      <br>
      <br>
      Tenders India Pvt.Ltd<br>
      A-Block, CGO Complex, Lodhi Road, Bangalore - 560 004, India.<br>
      Phone: 88888-88888 Email: info@tendersindia.in
    </footer>
  </body>
</html>