<html>
<head>
  <link rel="stylesheet" href="\static\css\mycss.css">
  <style>
  	p
  	{
  		padding-top:12px;
  		padding-left:12px;
  		color:#FFFFFF;
  		font-family: Quicksand;
  	}

  	a
  	{
  		 text-decoration:none;
  	}
  </style>
</head>
	<div class="left-side">
		<a href="\col2" target="options"><p class="font1"> MENU </p></a>
		<p class="font2"> 1. Public </p>
			<a href="\under_dev" target="options"><p class="font3"> Under development </p></a>
			<br>
		<p class="font2"> 2. Private </p> 
			<a href="\edu_insti" target="options"><p class="font3"> Educational Institutes </p></a>
			<a href="\office" target="options"><p class="font3"> Office Complex </p></a>
			<a href="\entertainment" target="options"><p class="font3"> Entertainment </p></a>
			<a href="\housing" target="options"><p class="font3"> Housing </p></a>
			<a href="\hotels" target="options"><p class="font3"> Hotels </p></a>
	</div>
</html>