<html>
  <head>
    <link rel="stylesheet" href="/static/css/mycss.css">
  </head>
  <body>
    <div class="navbar z-depth">
      <ul style="padding-left: 0px;">
        <li class="logo"> <a href="\home"><b>Tenders</b> India</a> </li>
        <section class="div_navbar_items">
          <li class="navbar_items"><a href="\tender_request"> Request for tender </a> </li>
          <li class="navbar_items"><a href="\logout"> Logout </a> </li>
        </section>
      </ul>
    </div>
  </body>
</html>