<html>
	<head>
		<link rel="stylesheet" href="\static\css\mycss.css">
	</head>
	<body>

		{% include '1navbar.html' %}

		<div class="body_home" style="height:80%">
		<div class="imgpadding">
	      <div class="col l3" style="padding-left:150px;padding-top:100px">
	        <a href="contract_signup" style="text-decoration:none;"><img src="\static\img\contractor.png" alt="contractor" style="width:100%">
	        <p class="font1" style="padding-left:95px;">Contractor</p>
	      </div>
	      <div class="col l3" style="float:right;padding-right:150px;padding-top:100px">
	        <a href="request_signup" style="text-decoration:none;"><img src="\static\img\stupid.png" alt="bidder" style="width:100%"></a>
	          <p class="font1" style="float:right;padding-right:115px;">Request</p>
	      </div>
      	</div>
      </div>

		{% include '1footer.html' %}
  
	</body>
</html>