<html>
<head>
  <link rel="stylesheet" href="\static\css\mycss.css">
  <style>
  	p
  	{
  		padding-top:12px;
  		padding-left:12px;
  		color:#FFFFFF;
  		font-family: Quicksand;
  	}

  	a
  	{
  		 text-decoration:none;
  	}
  </style>
</head>
	<div class="left-side">
		  <a href="\welcome" target="user_options"><p style="font-size:30px"> WELCOME </p></a>
      <a href="\profile" target="user_options"><p class="font2"> {{ diction.key1 }} </p></a>
      <a href="\update" target="user_options"><p class="font2"> {{ diction.key2 }} </p></a>
      {% if diction.user_id == 2 %}
			<a href="\view_req_tenders" target="user_options"><p class="font2"> {{ diction.key3 }} </p></a>
      {% endif %}
	</div>
</html>